.machinesInfoWindow {

}


.machinesInfoWindow .session-title {
    width: 264px;
    position: relative;
    font-size: 24px;
    line-height: 18px;
    font-family: Alef;
    color: #000;
    text-align: left;
    display: flex;
    align-items: center;
    height: 35px;
    padding-top: 15px;
}
.machine-info-table {
    width: 1400px;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    gap: 10px;
}
.machine-info-table p {
    font-size: 16px;
    letter-spacing: 0.03em;
    font-family: var(--font-assistant);
    color: var(--Dark-Grey);


}

.machine-info-table tr {

}

.machine-info-table td {
    position: relative;
    border-radius: 5px;
    align-items: center;
    vertical-align: middle;

}
.machine-info-table .cell-header {



}
.machine-info-table .machine-status {
}
.machine-info-table .machine-larva-counter {

}
.machine-info-table .machine-target-counter {

}
.machine-info-table .machine-status-icon {
    align-self: center;


}
.machine-info-table .machine-input-bottles-widget {
    align-self: center;

}

.machine-info-table .machine-input-bottle {


}
.machine-info-table .machine-output-bottle  {

}

.machine-info-table .machine-output-bottles-widget  {
    align-self: center;

}

.machine-info-table .machine-warnings  {
    position: relative;
    width: 287px;
    height: 126px;
}


.td-container {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: #fefefe;
    display: flex; /* ← Required */
    vertical-align: middle;

}


.machine-info-table .larva-count-text {
    font-size: 50px;
    font-family: var(--font-assistant);
    color: var(--Black);
}

.machine-info-table .larva-target-count-text {
    font-size: 24px;
    letter-spacing: 0.03em;
    font-weight: 600;
    font-family: var(--font-assistant);
    color: var(--Black);
}



.machine-info-table .machine-pie {

}
.machine-info-table .machine-histogram {

}

.machine-info-table .machine-dashboard {
    position: relative;
    width: 1000px;
    height: 229px;
    flex-direction: row; /* or column */
    display: flex;
    padding-left: 90px;
}

.machine-info-table .machine-dashboard-gauge {
    flex-direction: column;

}