.menu {
  height: 60%;
  width: 22vh;
  position: relative;
}

.menu .group {
  height: 60%;
  width: 22vh;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-contener {
  height: 100%;
  width: 100%;
  position: relative;
}
.menu .rectangle {
  background-color: var(--Light-Grey);
  border-radius: 0.7vw;
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.menu .div,
.menu .text-wrapper-2,
.menu .text-wrapper-3,
.menu .treatments-warnings,
.menu .text-t1-male,
.menu .text-t1-female,
.menu .text-t1-fl {
  color: #707070;
  font-size: 1.6vh;
  font-weight: 400;
  height: 4vh;
  width: 70%;
  left: 10%;
  position: absolute;
  letter-spacing: 0;
  line-height: 2vh;
}

.menu .text-wrapper-2 {
  top: 3.5vh;
}

.menu .div {
  top: 9.5vh;
}

.menu .text-wrapper-3 {
  top: 16vh;
}

.menu .treatments-warnings {
  top: 22.5vh;
  width: 85%;
}

.menu .text-t1-male {
  top: 29vh;
  width: 85%;
}

.menu .overlap-wrapper {
  height: 7vh;
  width: 100%;
  position: absolute;
  top: 32vh;
  left: 0;
}

.menu .overlap {
  background-color: var(--Light-Grey);
  border-radius: 0.7vw;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu .text-t1-female {
  top: 2vh;
}

.menu .text-t1-fl {
  top: 7vh;
}

.menu .menu-option-selected {
  color: #0056b3 !important;
}
