.session-info-window {
    position: absolute;
    overflow-x: visible;
}

.session-info-window .choose-session {
    position: absolute;
    left: 13px;

}

.session-info-window .larva-counter {
    width: 195px;
    position: relative;
    border-radius: 10px;
    background-color: #fefefe;
    height: 176px;
    padding: 14px;
    left: 13px;
    top: 92px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.session-info-window .larva-counter-title {
    width: 100%;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    text-align: center;

    height: 35px;
}

.session-info-window .larva-count {
    width: 100%;
    position: relative;
    font-size: 80px;
    line-height: 18px;
    color: #000;
    text-align: center;

    top: 35px;


}

.session-info-window .session-pie {
    position: absolute;
    width: 550px;
    height: 480px;
    top: 279px;
    left: 13px;
}

.session-info-window .larva-area-histogram-container {
    height: 480px;
    width: 840px;
    left: 580px;
    top: 279px;
    position: absolute;
}

.session-info-window .area-histogram {
    position: absolute;
}

.session-info-window .session-dashboard {
    height: 216px;
    width: 1130px;
    left: 10px;
    top: 680px;
    position: absolute;
}

.session-info-window .session-live-table {
    top: 66px;
    left: 222px;
    position: absolute;}
