.room-card {
    position: relative;
    height: 180px;
    padding: 0px 20px;
    min-width: 240px;
    width: 100%;
    border-radius: 15px;
    background: var(--Light-Grey);
    color: var(--Dark-Grey);

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.15s ease;
}

.room-card:hover {
    background: var(--Mid-Grey);
    color: var(--Almost-white);
}

.room-card h1 {
    position: absolute;
    margin: 5px;
    left: 3px;
    font-size: 25px;
}

.room-card h2 {
    position: relative;
    margin: 5px;
    left: 3px;
    top: 40%;
    font-size: 20px;
}

/* INFO ICON */
.info-wrapper {
    position: relative;
    top: 10px;
    left: 10px;
}

.data-wrapper {
    top:40%;
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 26px;
    gap: 16px;
    align-items: center;
}
.room-val {
    display: flex;
    flex-direction: column;
}

.room-val .label {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 2px;
}
.warning-card {
    animation: warningPulse 0.5s infinite alternate;
}

@keyframes warningPulse {
    0% {
        background-color: var(--caution-orange);     /* your base color */
    }
    100% {
        background-color: var(--caution-orange-light); /* lighter or darker shade */
    }
}

.loading-card {
    animation: loadingPulse 2s infinite alternate;
}

@keyframes loadingPulse {
    0% {
        background-color: var(--Light-Grey);     /* your base color */
    }
    100% {
        background-color: var(--Mid-Grey); /* lighter or darker shade */
    }
}

.warning {
    color: var(--warnning-red);
}

.value-row {
    display: flex;
    align-items: flex-end;
}

.value-row h2 {
    font-size: 50px;
    margin: 0;
    line-height: 1;
}

.value-row p {
    font-size: 20px;
    margin: 0 0 0 4px;
    opacity: 0.8;
}




.info-icon {
    cursor: pointer;
    font-size: 12px;
    opacity: 0.7;
    position: absolute;
    right: 1%;
}

.info-wrapper:hover .info-icon {
    opacity: 1;
}

/* POPUP */
.info-popup {
    position: absolute;
    top: 24px;
    left: 0;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(40, 40, 40);
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    font-size: 14px;
    z-index: 1;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: opacity 0.15s ease, transform 0.15s ease;
}

.info-wrapper:hover .info-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.info-popup p {
    margin: 4px 0;
}

.update-dt {
    position: absolute;
    bottom: -1px;
    font-size: 12px;
}

.chart-card {
    position: relative;
    padding: 5px 5%;
    border-radius: 15px;
    background: var(--Light-Grey);
    color: var(--Dark-Grey);

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

}

.chart-card h4{
    margin: 1px;
}

.room-val h2 {
    transition: color 0.4s ease;
}

.room-val {
    transition: border-color 0.4s ease;
}
