.choose-title {
    display: flex;
    align-items: center; /* Aligns them vertically */
    white-space: nowrap; /* Prevents text wrapping */
    width: max-content;
    min-width: 200px;
}
.choose-left {
    padding-right:20px; /* Adds 40px (20px on each side) */

}
.choose-right {
    padding-left:20px; /* Adds 40px (20px on each side) */
}
.choose-title-text {
    position: relative;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: var(--font-bold);
    height: 100%;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;

}