.session-report-line {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 99%;

}

.session-summary-window {
    border-radius: 10px;
    background-color: var(--Almost-white);
    letter-spacing: 0.03em;
    color: var(--Black);
    font-size: 16px;
    position: relative;
    width: 100%;
    padding-left: 20px;
}

.session-summary-window.selected {
    background-color: var(--dipteraai-light-and-transparent);
}

.session-summary-window .window-arrow {
    position: absolute;
    top: 28px;
    right: 28px;
}
.session-summary-header {
    display: flex;
    align-items: center;
    flex-direction: row;

    height: 73px;
    padding: 19px 0;
    gap: 16px;
    cursor: pointer;

}

.session-summary-header .title {
    font-size: 20px;
    width: 300px;
    text-align: left;
    overflow: hidden;        /* Hide the overflow */
    white-space: nowrap;     /* Keep text on one line */
    text-overflow: ellipsis; /* Show "..." when cut off */
}
.session-summary-header .title:hover {
    width: 500px;
    overflow: visible;        /* Hide the overflow */
    white-space: collapse;     /* Keep text on one line */
    text-overflow: ellipsis; /* Show "..." when cut off */
}

.session-summary-header .header-val {
    color: var(--Dark-Grey);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 160px;
}

.sep {
    background-color: var(--Light-Grey);
    height: 53px;
    width: 2px;
}

.session-summary-description {
    display: flex;
    color: var(--Dark-Grey);
    letter-spacing: 0.03em;
    font-size: 16px;
    padding-top: 5px;
}

.session-summary-data {
    color: var(--Dark-Grey);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 16px;
    width: 1300px;

}

.session-summary-data table {
    width: 100%;
    border-collapse: collapse;      /* Merge borders */
    font-size: 14px;
    font-family: var(--font-assistant);
    margin-top: 10px;
    border: 1px solid var(--Light-Grey); /* Outer boundary color */
    border-radius: 8px;             /* Rounded outer border */
}

.session-summary-data th,
.session-summary-data td {
    border: 1px solid var(--Light-Grey); /* Inner cell borders */
    padding: 6px 10px;
    text-align: center;
    color: var(--Dark-Grey);
    white-space: nowrap;

}

.session-summary-data thead {
    /*background-color: var(--Almost-white);*/
    border-bottom: 2px solid var(--Light-Grey);
    background-color: #f9f9f9;

}

/*.session-summary-data tbody tr:nth-child(odd) {*/
/*    background-color: #f9f9f9;*/
/*}*/

.session-summary-data tbody tr {
    background-color: var(--Almost-white);
}

.session-summary-data tbody tr:hover {
    background-color: #eaf3ff;
}

.reports-icons {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    right: 28px;
    bottom: 15px;
    gap: 12px;
}

.download-icon {
    /*position: absolute;*/
    /*right: 80px;*/
    /*bottom: 18px;*/
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: color 0.2s ease;
}

.mail-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.reports-icon {
    color: var(--Mid-Grey); /* hover color */
}
.reports-icon:hover {
    color: var(--dipteraai-main) !important; /* hover color */
}

.reports-icon:active {
    color: var(--dipteraai-darker) !important; /* pressed color */
}



.choose-all-reports {
    left: 40px;
    position: relative;
}

.reports-screen-title {
    left: 40px;
    position: relative;
    font-size: 40px;
    width: max-content;
    font-weight: 800;
}


.reports-loading-conteiner {
    position: absolute;
    height: 100px;
    width: 100px;
}
.reports-loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}
.session-setup-in .subtract {
    height: 172px;
    left: 0;
    position: absolute;
    top: 0;
    width: 172px;
}
.reports-control {
    display: flex;
    justify-content: space-between; /* left + right alignment */
    align-items: center;
    width: 98%;
}

.reports-filters {
    display: flex;
    gap: 1rem; /* space between dropdowns and icon */
    align-items: center;
}


.reports-data-display {
    display: flex;
    flex-direction: column;
    gap: 9px;
    overflow-y: auto;
    height: 100%;
    width: 100%;

    position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal-content .exit-modal {
    position: absolute;
    top: 10px;
    right: 13px;
    cursor: pointer;
}

.modal-content label {
    display: block;
    margin-bottom: 1rem;
}

.modal-content input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
}

.report-charts {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: stretch;
    gap: 50px;
    height: 300px;

}
.report-pie {
    width: 150px;
    height: 200px;
}
.pies-overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}

.report-pies-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.select-machine {
    width: 200px;
}

.report-histogram {
    position: relative;
    top: 50px;
    width: 750px;
    height: 200px;

}

.btn {
    background-color: var(--Mid-Grey);
    border-radius: 5px;
    height: 21px;
}

.btn:hover {
    background-color: var(--dipteraai-main);
}

.btn:active {
    background-color: var(--dipteraai-darker);
}

.btn-primary {
    background-color: var(--Dark-Grey);
}

.expand-report {
    padding-bottom: 40px;
    width: max-content;
}

.chart-switch {
    right: 20px;
    position: absolute;

}