.lights-container {
    left: 2vw !important;
    top: 24vh !important;
    position: absolute;
    border-radius: 0.7vw;
    background-color: var(--Light-Grey);
    width: 22vh;
    height: 8vh;
    justify-content: center;
    align-items: center;
    display: flex;


}

.lights-overlap {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:  row;
    gap: 2vh;
}

.light {
    width: 5vh;
}

.red-light {
    position: relative;
    display: flex;
}

.blue-light {
    position: relative;
    display: flex;


}

.green-light {
    position: relative;
    display: flex;

}