.lights-container {
    width: 22vh;
    left: 2vw;
    top: 28vh;
    position: absolute;
    border-radius: 1vh;
    background-color: var(--Light-Grey);

    height: 8vh;
}

.lights-overlap {
    position: relative;
    height: 100%;
    width: 100%;
}

.red-light {
    position: absolute;
    left: 7%;
    top: 30%;
    width: 25%;
    height: 45%;
}

.blue-light {
    position: absolute;
    left: 37%;
    top: 30%;
    width: 25%;
    height: 45%;
}

.green-light {
    position: absolute;
    left: 67%;
    top: 30%;
    width: 25%;
    height: 45%;
}