/* style.css - styles for MasterTableRow */

.master-screen {
    top: 30px;
    position: relative;
    width: 100%;
    height: 95%;

}

.master-table {
    height: 40%;
    position: absolute;
    overflow-y: scroll;
    width: 75%;

}


.master-row-wrapper {
    width: 99%;
    padding-top:  10px;
}


.master-row {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: var(--Almost-white);
    padding: 10px;
    height: 80%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-family: var(--font-assistant);
    color: var(--Dark-Grey);
    text-align: left;
}

.master-row:hover {
    background-color: var(--Light-Grey);
}

.master-row.selected {
    background-color: var(--dipteraai-light-and-transparent);
}

.master-row-title {
    position: relative;
    font-size: 20px;
    letter-spacing: 0.03em;
    display: flex;
    font-family: var(--font-assistant);
    color: var(--Black);
    text-align: left;
    align-items: center;
    height: 35px;
    cursor: pointer;
    top: 25px;
    width: 12%;

}

.master-row-status {
    width: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.master-row-input-bottle {
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.master-row-pressure {
    width: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.master-row-sepline {
    width: 1px;
    background-color: var(--Mid-Grey);
}

.master-row-jetson {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.master-row-operation {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 15%;
}

.jetson-state-cell {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100px;
}

.jetson-state-cell.selected {
}

.cell-title {

}

.jetson-state-icons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.on-icon {
    width: 22px;
}

.running-icon {
    width: 18px;

}

.connected-icon {
    width: 20px;

}

.master-button-wrapper {
    width: 22%;
    position: absolute;
    left: 76%;
    height: 100%;
}

.master-buttons {
    display: flex;
    flex-direction: column;
    gap:1%;
    height: 100%;
}

.expand-button {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: var(--Light-Grey);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

}

.master-buttons h3 {
    position: relative;
    font-size: 22px;
    letter-spacing: 0.03em;
    font-family: var(--font-assistant);
    color: var(--Dark-Grey);
    text-align: left;
    display: inline-block;
    padding-bottom: 1%;
}

.master-buttons h4 {
    position: relative;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-family: var(--font-assistant);
    color: var(--Dark-Grey);
    text-align: left;
    display: inline-block;
    left: 20%;
}


.master-buttons input {
    position: relative;
    left: 20%;
    width: 50%;
    height: 24px;
}

.master-buttons select {
    position: relative;
    left: 20%;
    width: 50%;
    height: 24px;

}

.master-button {
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: var(--Mid-Grey);
    color: var(--Almost-white);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-family: var(--font-assistant);
    cursor: pointer;
    transition: background-color 0.2s;
}

.master-button.start{
    width: 20%;
    right: 3%;
    position: absolute;
}

.master-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.master-button:hover {
    background-color: var(--Dark-Grey);
}

.master-button:active {
    background-color: var(--Black);
}

.master-start-button {
    width: 67px;
    padding: 5px;
    right: 10px;
    bottom: 20px;
    position: absolute;
}

.master-start-button-0 {
    width: 67px;
    right: 10px;
    bottom: 120px;
    padding: 5px;
    position: absolute;
}

.master-start-button-1 {
    width: 67px;
    right: 10px;
    bottom: 60px;
    padding: 5px;
    position: absolute;
}

.master-images-tab-content {

}

.master-save-button {
    width: 150px;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.master-clear-button {
    width: 150px;

    padding: 5px;
    right: 0;
    bottom: 40px;

    position: absolute;
}

.master-cameras-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 1fr));
    gap: 10px;
    width: 40%;
    left: 20%;
    position: relative;
}

.master-cameras-grid-item {
    background-color: var(--Mid-Grey);
    color: var(--Light-Grey);
    font-size: 12px;
    letter-spacing: 0.03em;
    font-family: var(--font-assistant);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.master-cameras-grid-item:hover {
    background-color: var(--Almost-white);
    color: var(--Dark-Grey);

}

.master-cameras-grid-item.selected {
    background-color: var(--dipteraai-main);
    color: var(--Almost-white);
}




.master-tabs-wrapper {
    width: 75%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 41%;
    flex-direction: column;
}

.master-tabs-container {
    width: 100%;
    height: 98%;
}
.master-tabs-header {
    display: flex;
    gap: 5px;
    border-radius: 10px 10px 0 0;
    padding-top: 5px;
}

.master-tab {
    padding: 8px 16px;
    background-color: var(--Mid-Grey);
    color: var(--Black);
    font-size: 16px;
    letter-spacing: 0.03em;
    border-radius: 7px 7px 0 0;
    cursor: pointer;
    font-family: var(--font-assistant);
    transition: background-color 0.2s;
    height: 100%;


}

.master-tab:hover {
    background-color: var(--dipteraai-light-and-transparent);
}

.master-tab.active {
    background-color: var(--Light-Grey);

}

.master-tab-content {
    flex: 1;
    background-color: var(--Light-Grey);
    border-radius: 0 10px 10px 10px;
    padding: 40px;
    font-family: var(--font-assistant);
    height: 100%;
}

.timeline-date-cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.master-tab-content b{
    font-size: 20px;
}


.ls-grid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 20px;
    width: 100%;
    position: relative;
    color: var(--Dark-Grey);
}

.ls-sensor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: relative;
    width: 100%;
    gap:30px;
    font-family: var(--font-assistant);
    letter-spacing: 0.03em;

}

.ls-name {
    width: 110px;
}

.test-result {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-color: var(--Mid-Grey);
    border-style: solid;
    border-width: 1px;
    position: relative;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* x-offset, y-offset, blur-radius, color */

}

.test-result.fail {
    background-color: var(--warnning-red);
}

.test-result.pass {
    background-color: var(--color-lightgreen);
}

/* Tabs resizing behavior */
.master-tabs-wrapper.hidden {
    height: 10%;
    top: 85%;
}

.master-tabs-wrapper.small {
    height: 60%;
}

.master-tabs-wrapper.full {
    top: 15%;
    height: 85%;
    z-index: 2;
}

.master-table.hidden {
    height: 85%;
}

.master-table.small {
    height: 40%;
}

.master-table.full {
    height: 15%;
    z-index: 2;
}

/* Corner control buttons */
.tabs-controls {
    margin-left: auto;
    display: flex;
    gap: 5px;
    position: absolute;
    right: 0;
    top:50px;
}

.tabs-icon {
    cursor: pointer;
    padding: 4px 10px;

}

.tabs-icon:hover {
    color: var(--Dark-Grey);
}

.zoom-img-zoomed {
    border: 2px solid var(--Mid-Grey);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.roi-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    pointer-events: none;
}

.img-tab-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 50%;
}

.master-buttons {
    transform: scale(0.9);
    transform-origin: top left;
}

.master-buttons-sudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap:20%;

}


.timeline-container{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.timeline-add{
    display:flex;
    gap:8px;
}

.timeline-feed{
    max-height:420px;
    overflow:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.timeline-card{
    width: 98%;

    background:var(--Almost-white);
    padding:10px;
    border-radius:6px;
    box-shadow:0 2px 6px rgba(0,0,0,0.08);
}

.timeline-header{
    display:flex;
    justify-content:space-between;
    cursor: pointer;
}

.timeline-ts{
    color:#888;
    font-size:12px;
}

.timeline-comment{
    font-size:13px;
    background:#f3f3f3;
    padding:4px;
    border-radius:4px;
    margin-top:4px;
}
.timeline-date-header{
    position:sticky;
    top:0px;
    background:#f7f9fc;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
    display:flex;
    gap:8px;
    align-items:center;
    font-size:14px;
    box-shadow:0 1px 3px rgba(0,0,0,0.05);
    width: 99%;
}

.timeline-date-header:hover{
    background:#eef2ff;
}

.timeline-count{
    color:#888;
    font-size:12px;
}


.timeline-floating-date{
    position:absolute;
    top:4px;
    align-self:center;
    background:#2b2f3a;
    color:white;
    padding:4px 12px;
    border-radius:20px;
    font-size:12px;
    z-index:20;
    box-shadow:0 2px 8px rgba(0,0,0,0.25);
    width: 40px;
}
.timeline-controls{
    display:flex;
    gap:8px;
    margin-bottom:6px;
}