.machine-checkbox {
    align-items: center;
    flex-direction: row;
}

.machine-name-container {
    font-size: 24px;
    line-height: 18px;
    color: #000;
    text-align: left;
    display: flex;
    align-items: center;
    height: 35px;
    cursor: pointer;
}

.machine-checkbox-rectangle {
    height: 18px;
    width: 18px;

}

.machine-checkbox-text {
    font-size: 20px;
    letter-spacing: 0.05em;
    font-family: var(--font-assistant);
    color: #000;
    text-align: left;
    align-items: center;

}
