.menu-option {
    color: #707070;
    cursor: default;

    font-size: 1.6vh;
    font-weight: 400;
    height: 2vh;
    width: 80%;
    left: 10%;
    letter-spacing: 0;
    line-height: 1vh;
    position: absolute;
}

.header-menu-option {
    color: #707070;
    cursor: default;

    font-size: 1.6vh;
    font-weight: 400;
    height: 4vh;
    width: 80%;
    left: 10%;
    letter-spacing: 0;
    line-height: 2vh;
    position: absolute;
}

/* Hover Effect */
.menu-option:hover {
    color: #007bff;
}

/* Selected State */
.menu-option .chosen {
    color: #007bff;
}
