.machine-list-in {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
}

.machine-list-in .session-table-container {
    background-color: #fdfdfd;
    border-color: #fdfdfd;
    height: auto; /* Ensures height grows with content */
    overflow: visible; /* Ensures it doesn't cut off the table */
    border-radius: 10px;
    position: relative;
    width: 95%;
    /*align-items: stretch;*/
}
.exit-session-button {
    position: absolute;
    right: 15px;
    top: 14px;
    z-index: 1;
}


.exit-session-button-hover {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}
.machine-list-in .select-all-checkbox {
    height: 18px !important;
    left: 45px;
    top: 31px;
    position: relative;
    width: 18px !important;
}

.machine-list-in .rectangle-checkbox-target {
    height: 18px !important;
    width: 18px !important;
    position: relative;

}


.machine-list-in .session-title-wrapper {
    color: #000;
    height: 71px;
    position: relative;
    width: 100% !important;
}

.machine-list-in .session-title {
    color: #000;
    height: auto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 56.25% */
    left: 83px;
    top: 16px;
    position: relative;
    width: max-content;

}

.machine-list-in .line-under-title {
    bottom: 0px !important;
    left: 45px;
    width: calc(100% - 45px);
    position: absolute;
    overflow: hidden;
}

.machine-list-in .table-session-short {
    position: relative;
    left: 93px;
    width: 90%;
}

.error-handle {
    position: relative;
    border-radius: 5px;
    background-color: var(--warnning-red);
    align-items: center;
    width: 700px;
    display: flex;
    gap: 10px;
    padding: 10px;

}

.handle-error-button {
    width: 70px;
}
.theMachineHas {
    font-size: 18px;
    letter-spacing: 0.03em;
    font-family: var(--font-assistant);
    color: var(--Almost-white);
    text-align: left;
    display: flex;
    align-items: center;
    height: 15px;
}
.machine-list-in .headers {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    left: 0;
    position: relative;
    text-align: left;
}

.machine-list-in .session-table-data {
    height: 100px;
    position: relative;
    border-radius: 5px;
    align-items: center;
    vertical-align: middle;
    display: table-cell;
}
.machine-list-in .col-machine-name {
}



.machine-list-in .machines-table-row {
    position: relative;

}



.machine-list-in .line-under-row {
    width: auto !important;
    display: block !important;
    position: relative;
    overflow: hidden;
}

.add-machine {
    font-size: 16px;
    line-height: 18px;
    color: #707070;
    text-align: left;
    display: flex;
    height: 35px;

    position: relative;
}