.command-button {

    flex-direction: row;

    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #707070;

}

.command-button .tooltip {
    position: absolute;
    top: 103%; /* places it just below the image */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #fefefe;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.1vh;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.5vh;
    opacity: 0;
    color: #707070;
    z-index: 999;
}

.command-button-img {
    color: #707070;
    display: block;
    height: 5vh;
    width: 5vh;
}


.command-button:hover .tooltip {
    opacity: 1;
}



